/* Index.html css*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}

body {
    background-color: 	#f5f5f5;
}

.nav {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: 	#87CEFA;
    z-index: 999;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 500;
    font-size: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all 0.3s ease;
}

.nav-list li a:hover {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.header-logo {
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
}

.header-text {
    text-align: center;
    font-weight: 450;
    font-size: 25px;
    margin-bottom: 20px;
}

.header-image {
    width: 85%;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.line-style1 {
    height: 1px;
    border: none;
    background-color:  	#cdcdcd;
}

.marketing-sell {
    text-align: center;
}

.header2 {
    text-align: center;
    font-size: 30px;
}

.marketing-block1 {
    margin-left: 7.5%;
    width: 60%;
}

.article-pharagraph {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header3 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

.marketing1 {
    display: flex;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.marketing-block2 {
    width: 60%;
    margin-left: auto;
    margin-right: 7.5%;
}

.marketing2 {
    display: flex;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.marketing-block3 {
    margin-top: 100px;
    text-align: center;
    line-height: 3;
    font-size: 20px;
}

/* Kontakt.html css*/

.header-space {
   height: 100px;
}

.kontakt {
    width: 50%;
    margin: 100px auto;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    gap: 20px;
}

.kontakt-style {
    padding: 5px;
    width: 40%;
    border-radius: 5px;
}