/* Index.html css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #f9c4c0 0%,  #f5f5f5 8%, #f5f5f5 92%, #c7eafc 100% );  
}

header {
    position: sticky;
    top: 10px;
    z-index: 10;
}

.logo-wrapper {
    position: relative;
    width: 35%;
    height: 350px;
    margin: 50px auto;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    overflow: hidden;
}

.header-logo {
    width: 100%;
    height: 100%;
    scale: 1.2;
    object-fit: cover;
    display: block;
}

.header-text {
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: 450;
    font-size: 25px;
    margin-bottom: 20px;
    color: #333333;
    border: 1px solid silver;
    border-radius: 20px;
}

.header-img-overflow {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.imgs-block {
    display: flex;
}

.header-image {
    width: 90%;
    max-height: 900px;
    margin: 5% 5%;
    flex-shrink: 0;
    border-radius: 20px;
}

.nav {
    width: 100%;
    left: 0;
    margin: 10px auto 0px;
    width: 90%;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    z-index: 999;
    padding: 10px 0;
    border-radius: 30px;
    border: 1px solid #cdcdcd;
    box-shadow: 2px 2px 5px #cdcdcd; 
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all 0.1s linear;
}

.nav-list li a:hover {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.user-fav {
    background-color: white;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.logout-btn {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #353935;
    background-color: white;
    cursor: pointer;
}

.slide-in-prnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-in-img { 
    width: 30px;
    height: 30px;
    padding: 2px;
    transition: all 0.4s ease;
}

.slide-in-img:hover {
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}

.marketing-sell {
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
    font-size: 30px;
}

.carousel-window {
    position: relative;
    overflow: hidden;
    width: 85%;
    height: 450px;
    margin: auto;
}

.carousel-arrow {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 40%;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    border: none;
    font-size: 20px;
    transition: transform 0.1s linear;
}

.arrow-margin-right {
    margin-right: 20px;
}

.arrow-margin-left {
    margin-left: 20px;
}

.carousel-arrow:active {
    transform: scale(0.9);
}

.carousel-arrows {
    display: flex;
    width: 70%;
    margin: auto;
}

.carousel-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 450px;
}

.carousel-scroll::-webkit-scrollbar {
    display: none; /* hides scrollbar in Chrome/Safari */
}

.carousel-scroll {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;     /* Firefox */
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d3d3d3;
    margin: auto 1%;
    flex: 0 0 23%;
    height: 400px;
    border-radius: 10px;
}

.carousel-img {
    max-height: 200px;
    max-width: 220px;
    width: 90%;
    margin: 10px auto;
    border-radius: 15px;
}

.carousel-info {
    margin: 10px 20px;
}

.carousel-button {
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    font-size: 14px;
    font-weight: 500;
}

.carousel-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.structure1 {
    width: 85%;
    margin: auto;
}

.header2 {
    text-align: center;
    font-size: 30px;
    margin: 100px;
    color: #333333;
}

.marketing-block1 {
    width: 70%;
}

.align-left {
  margin-left: 0;
}

.align-right {
  margin-left: auto;
}

.market-block-transf1 {
    transform: translateX(-400px);
    opacity: 0;
    transition: all 0.8s ease;
}

.market-block-transf1.active {
    transform: translateX(0);
    opacity: 1;
}

.market-block-transf2 {
    transform: translateX(400px);
    opacity: 0;
    transition: all 0.8s ease;
}

.market-block-transf2.active {
    transform: translateX(0);
    opacity: 1;
}

.header3 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
    font-size: 25px;
    color: #333333;
}

.responsive-img {
    max-width: 60%;
    height: auto;
    display: block;
}

.responsive-img2 {
    max-width: 45%;
    height: auto;
    display: block;
}

.marketing1 {
    display: flex;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.marketing2 {
    display: flex;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.article-pharagraph {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 100px auto;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    padding: 50px;
    background-color: white;
}

.logo-spin {
    position: relative;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}


.window-scroller {
    overflow: hidden;
    width: 70%;
    margin: auto;
    padding: 20px 0px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2), 0px -3px 3px -3px rgba(0, 0, 0, 0.2);
}

.scroll-container {
    display: flex;
    height: auto;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0);}
    to { transform: translateX(-100%);} 
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    flex-shrink: 0;
    flex-basis: 24%;
    margin-right: 1%;
    height: 40px;
    box-shadow: 0px 3px 3px -4px rgba(0, 0, 0, 0.2), 0px -3px 3px -4px rgba(0, 0, 0, 0.2);   
}


/* Extra Large desktops (optional) */
@media (max-width: 1400px) {
    .carousel-arrows {
        width: 80%;
    }

    .scroll-container {
        animation: scroll 15s linear infinite;
    }

    .window-scroller {
        width: 80%;
    }

    .review {
        flex-basis: 33%;
        margin-right: 1%;
    }
}

/* Desktop → Tablet Landscape */
@media (max-width: 1200px) {
    .carousel-item {
        flex: 0 0 31%;
        margin: auto 1.16%;
        height: 400px;
        border-radius: 10px;
    }

    .header2 {
        font-size: 25px;
    }
}

@media (max-width: 1100px){
    .scroll-container {
        animation: scroll 10s linear infinite;
    }

    .review {
        flex-basis: 49%;
        margin-right: 1%;
    }
}

/* Tablet Landscape → Tablet Portrait */
@media (max-width: 992px) {
    .nav {
        width: 40px;
        height: 40px;
        margin-right: 5%;
        border-radius: 50%;
        background: transparent;
        position: relative;
    }

    .menu-toggle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: url(images/burger-menu.png) center center / 80% no-repeat;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .menu-toggle:hover {
        background-color: white;
        box-shadow: 0 0 20px lightblue;
    }

    .nav-list {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    header nav ul li:first-of-type {
        margin-top: 15px;
    }

    header nav ul li {
        width: 100%;
        padding-bottom: 8px;
        text-align: center;
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .nav-open {
        position: fixed;
        top: -10px;
        right: 0px;
        width: 25vw;
        height: 100vh;
        margin-right: 0%;
        border-radius: 10px;
        background: linear-gradient(to right, #b92b27 0%, #1565C0 100%);
    }

    .nav-open .nav-list {
        visibility: visible;
    }

    .logout-btn {
        width: 40%;
        color: white;
        background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    }

    .carousel-button {
        width: 60%;
    }

    .header-text {
        font-size: 24px;
    }

    .marketing-sell {
        font-size: 24px;
    }

    .carousel-arrows {
        width: 90%;
    }

    .article-pharagraph {
        font-size: 18px;
    }
}

/* Tablet Portrait → Mobile */
@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 45%;
        margin: auto 2.5%;
        height: 400px;
        border-radius: 10px;
    }

    .carousel-button {
        width: 60%;
    }

    .marketing-block1 {
        width: 90%;
    }

    .align-left, .align-right {
            margin: auto;
    }

    .marketing1 {
        flex-direction: column;
        gap: 10px;
    }

    .marketing2 {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .header2 {
        font-size: 23px;
    }

    .scroll-container {
        animation: scroll 8s linear infinite;
    }

    .review {
        flex-basis: 99%;
        margin-right: 1%;
    }
}

@media (max-width: 710px) {

    .logo-brands {
        gap: 20px;
        padding: 35px;
    }
} 

/* Mobile (most phones) */
@media (max-width: 576px) {

    .nav-open {
        width: 35vw;
    }

    .carousel-scroll {
        width: 90%;
        margin: auto;
    }

    .carousel-item {
        flex: 0 0 70%;
        margin: auto 15%;
        height: 400px;
        border-radius: 10px;
    }

    .carousel-arrow {
        width: 45px;
    }

    .header3 {
        font-size: 22px;
    }

    .responsive-img, .responsive-img2 {
        max-width: 75%;
    }

     .article-pharagraph {
        font-size: 16px;
    }
}

@media (max-width: 470px ) {

    .carousel-item {
        flex: 0 0 85%;
        margin: auto 7.5%;
        height: 400px;
        border-radius: 10px;
    }

    .responsive-img, .responsive-img2 {
        max-width: 80%;
    }

    .header2 {
        font-size: 20px;
        margin: 50px;
    }

    .logo-brands {
        margin-top: 20px;
    }
}

/* Very small phones */
@media (max-width: 360px) {

    .nav-open {
        width: 50vw;
    }

    .carousel-window {
        width: 90%;
    }

     .carousel-scroll {
        width: 100%;
    }

    .carousel-arrow {
        height: 35px;
        width: 50px;
    }

    .carousel-item {
        flex: 0 0 97%;
        margin: auto 1.5%;
        height: 380px;
        border-radius: 10px;
    }

    .carousel-button {
        width: 65%;
        font-size: 13px;
    }

    .header3 {
        font-size: 20px;
    }

    .logo-brands {
        gap: 20px;
        padding: 10px;
    }

    .logo-brand {
        flex-basis: 75%;
    }

    .logo-brand:first-of-type {
        margin-top: 15px;
    }

    .logo-brand:last-of-type {
        margin-bottom: 15px;
    }
}


/* Kontakt.html css*/

.header-space {
   height: 50px;
}

.kontakt {
    width: 50%;
    margin: 20px auto;
}

.kontakt-header {
    margin-bottom: 50px;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid #00000025;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    gap: 20px;
    background-color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.kontakt-row1 {
    display: flex;
    width: 95%;
    gap: 5%;
}

.kontakt-column1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.kontakt-style1 {
    padding: 7px;
    width: 45%;
    border-radius: 5px;
    border: 1px solid #00000025;
    font-weight: 500;
}

.kontakt-style2 {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000025;
    font-weight: 500;
}


.label-space {
    margin-bottom: 16px;
}

textarea {
    resize: none;
    width: 95%;
    border: 1px solid #00000025;
    border-radius: 10px;
    padding: 5px;
}

.kontakt-style:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #666;
}

.submit-button {
    width: 13%;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
}

.submit-button:hover {
    box-shadow: 0px 0px 5px #4da6ff;
}


/*O-nama css*/

.o-nama-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 100px auto;
}

.o-nama-header {
    margin-bottom: 20px;
}

.onm-ovr {
    overflow: hidden;
    width: 100%;
    height: 0px;
    border: 1px solid #00000025;
    border-radius: 20px;
    background-color: white;
    transition: height 2s ease;
}

.onm-ovr.active {
    height: 100px;
    max-height: 1000px;
}

.o-nama-para {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/*Login / Register*/

.login-form {
    width: 25%;
    height: 450px;
    border: 1px solid #00000025;
    background-color: white;
    margin: 60px auto;
    border-radius: 10px;
    gap: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.login-style1 {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000025;
    font-weight: 500;
    margin: 10px auto;
}

.login-style2 {
    text-align: center;
}

.log-reg-button {
    display: block;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    transition: all 0.1s ease;
}

.log-reg-button:active {
    transform: scale(0.96);
}

.log-reg-margin {
    margin-top: 20px;
}

.error-text {
  color: #e53935;
  font-size: 0.85rem;
  margin: 4px 0 0;
}

/* Admin - User css*/

.ad-us-box {
    margin: 100px 10%;
    height: auto;
    padding: 40px;
    border: 1px solid #00000025;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.ad-us-box li {
    list-style: none;
}

.ad-us-box li a {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 170px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    border-radius: 20px;
    padding: 5px;
    transition: scale 0.2s ease;
}

.ad-us-box li a:active {
    scale: 0.9;
}

.ad-us-box-wrap {
    display: flex;
    gap: 20px;
}

.user-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-sett {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16%;
    margin-left: 20px;
}

.user-nm {
    font-weight: 500;
    font-size: 20px;
}

.admin-split {
    width: 100%;
    margin-top: 3%;
    border: none;
    border-top: 1px solid #ccc;
}

.admin-nm {
    font-weight: 500;
    margin-top: 20px;
}

.admin-sett {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 40%;
    margin-top: 20px;
}

/* Pass-change css */

.pass-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000025;
    border-radius: 20px;
    width: 30%;
    height: 400px;
    gap: 20px;
    margin: 100px auto;
    background-color: white;
}

.pass-change input {
    width: 50%;
    height: 10%;
    border-radius: 20px;
    border: 1px solid #00000025;
    padding: 5px;
}

.pass-change-btn {
    display: block;
    text-align: center;
    width: 30%;
    margin: 10px auto;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    transition: all 0.1s ease;
}

.pass-change-btn:active {
    transform: scale(0.96);
}

/* Product add */

.product-header {
    text-align: center;
    margin: 50px;
}

.product-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 50px auto;
    border: 1px solid #00000025;
    border-radius: 20px;
    background-color: white;
    gap: 20px;
    padding: 20px;
}

.product-add-form input, .product-add-form select {
    text-align: center;
}

.product-add-form input:focus {
    outline: none;
    border-color: purple;
}

.product-field {
    width: 80%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #00000025;
    padding: 5px;
}

.product-field::-webkit-inner-spin-button,
.product-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-field[type=number] {
    -moz-appearance: textfield;
}

.product-btn {
    display: block;
    text-align: center;
    width: 30%;
    margin: 10px auto;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
    transition: all 0.1s ease;
}

.product-btn:active {
    transform: scale(0.96);
}


/* Footer css */

footer {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    border-top: 1px solid #d3d3d3;
    color: white;
    background: linear-gradient(to right, #ff6b6b 0%, #4da6ff 100%);
}

.footer-socials {
    display: flex;
    flex-direction: column;
}

.footer-socials a {
    color: white;
    text-decoration: none;
}

.footer-margin {
    margin: auto 0px;
}

.footer-margin p, 
.footer-margin a {
    padding: 10px 0px;
    transition: transform 0.1s linear, text-shadow 0.1s linear;
}

.footer-margin p:hover, 
.footer-margin a:hover {
    transform: translate(2px, -2px);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.media-fav {
    margin-right: 5px;
}

